.form-group {
  margin-bottom: 15px;
  position: relative;
}
.form-group .form-group-label {
  color: var(--labelColor);
  font-size: 12px;
  position: relative;
  margin-bottom: 10px;
}
.form-group .form-control {
  font-size: 12px;
}
.form-group .form-control::placeholder {
  font-size: 12px;
}
